:root{
    --main-bg-col: rgb(27, 27, 27);
    --main-txt-col:rgb(180, 176, 176);
    --sec-txt-col:#fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    color:var( --sec-txt-col);
}

a {
    text-decoration: none;
    color: var( --main-txt-col);
}

li {
    list-style: none;

}

.page-container {
    max-width: 1300px;
    /* background-color: rgb(27, 27, 27); */
    background-color: rgb(252, 249, 249);
    margin: 0 auto;
}

.page-container__intro {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-col);
}

/* fixed side nav bar */
.side-nav-container {
    background-color: rgba(43, 42, 42, 0.11);
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.5rem;
    padding: 2rem;
    position:  fixed;
    top:0;
    animation: slideDown 4s linear;

}

.side-nav__social-container {
    flex: 9;
    font-size: 1.2rem;
    text-align: center;
}

.side-nav__social-list-link{
   /* padding: 2rem; */
   /* background-color: lightgoldenrodyellow; */
}
.side-nav__social-list-link:hover,.side-nav__about-link:hover{
    transition:color 1s linear;
    color:#000;
}

.side-nav__hamburger-container {
    flex: 1;
}

/* rolling sidebar /////////////////////////// */
.sidebar__container {
    background-color: rgb(104, 100, 100);
    width: 19rem;
    height: 100vh;
    z-index: 9990;
    display: flex;
    list-style: none;
    flex-direction: column;
    position: absolute;
    display: none;
    position: fixed;
    padding: 2rem;
  }
  .sidebar__link {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }
  .sidebar__link:hover{
      color:white;
      
  }
  
  /* fade in/out side bar //////////////////// */
  @keyframes fadeIn {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes fadeOut {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  #ham:hover{
      color:#000;
  }

/* intro omolara aneke text */
.page-container__intro h1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    animation: widthAni 3.5s linear;
}
@keyframes widthAni{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.general-arrow{
    position: absolute;
    font-size: 4rem;
    color:#fff;
    padding: 1rem 2rem;
    font-weight: lighter;
    cursor: pointer;
}
.intro__link{
    position: absolute;
    bottom:7%;
    color:blue;
     animation: slideDown 3s linear;
     width: 100%;
     text-align: center;
}
.intro__link:hover{
    transition: all 2s ease-in-out;
    color:#000;
}
@keyframes slideDown{
    0%{
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideDownShort{
    0%{
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

.side-nav__about-link {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: .7rem;
    font-weight: bold;
}

/* infinite gallery slider  ///////*/
.gallery__container{
width: 100%;
height: 100vh;
background-color: var(--main-bg-col);
/* margin: 0 2rem; */
/* padding: 0 2rem; */
display: none;

}
/*top  */
.gallery__name-section{
    height:20vh;
    /* background-color: rgba(255, 0, 0, 0.541); */
}
/* omolara title */
.gallery__name-section-item{
width:100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 1rem;
}


/* middle */
.gallery__image-section{
    /* background-color: rgba(131, 146, 153, 0.507); */
    height:60vh;
    overflow: hidden;
    /* animation: slideRight 3s linear; */

}
.sld-animation{
        animation: rollWidthImg 4s linear;

}
.gallery__image-section:focus{
    /* transform: translateY(100px);
    transition:transform 4s linear; */

}
@keyframes rollWidthImg{
    0%{
        height:0vh;
    }
    100% {
        height: 60vh;
    }
}

.bg-1{
    z-index: -10;
        background-image: url('images/plotter/DSC_0304.JPG');
        animation: rollWidthImg 2s linear;


}
.bg-2{
    z-index: -10;
    background-image: url('images/loom/IMG_20200507_221849.jpg');
    animation: rollWidthImg 2s linear;

}
.bg-3{
    z-index: -10; 
       background-image: url('images/plotter/DSC_0295.JPG');
       animation: rollWidthImg 2s linear;

}
.bg-4{
    z-index: -10;  
      background-image: url('images/loom/IMG_20200507_221849.jpg');
      animation: rollWidthImg 2s linear;


}
@keyframes slideRight{
    0%{
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0%);
    }
}
.gallery__overlay-text{
    /* visibility: hidden; */
    width: 80%;
    margin: 0 auto;
    animation: slideRight 3s linear;

}
.gallery__overlay-h1{
    font-size: 1.5rem;
}
.gallery__overlay-p{
    font-size: 0.8rem;
    

}
@keyframes rollText{
    0%{
        width:0;
    }
    100% {
        width:80%;
    }
}
/* bottom */
.gallery__empty-section{
    /* background-color: rgba(233, 70, 176, 0.466); */
    height:20vh;
}
.empty__up-btn{
    position: absolute;
    bottom:10px;
    width: 100%;
    /* background-color: lightgreen; */
    text-align: center;
    font-size: 2.3rem;
    color: var(--main-txt-col);
}
@keyframes slideDownshorter{
    0%{
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0%);
    }
}
.empty__up-btn:hover{
    color: #000; 
   transition: color 0.6s ease-in-out ;

}
@keyframes fadeColor{
    0%{
        color: rgb(255, 255, 255);  
    }
    50%{
        color:  rgba(0, 0, 0);
    }
    100%{
        color:rgb(66, 65, 65);  
    }
}

.gallery__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0rem auto;
    margin-bottom: 3rem;
/*  */
  }
  

  .gallery__item:nth-child(0n+2){
      /* transform: translateY(-100%); */
      /* z-index: -10; */
  }
  .gallery__item:nth-child(0n+3){
    /* transform: translateY(-200%); */
    /* z-index: -100; */
}
.gallery__item:nth-child(0n+4){
    /* transform: translateY(-300%); */
    /* z-index: -200; */
}

  @media(min-width:700px){
    .gallery__item {
        position: relative;
        height: 480px;
        width: 640px;
        top: 50%;
        transform: translateY(-50%);

      }
      /* top */
      .gallery__name-section{
        height:10%;
    }
    /* middle */
    .gallery__image-section{
        height:80%;
    }
    /* bottom */
    .gallery__empty-section{
        height:10%;
    }
  }

  
  

.gallery__item:hover{
    /* background-color: rgb(20, 20, 19); */
    background-blend-mode: multiply; 
    transition: all 10s linear;
}


  /* next and prev button */
  .gallery__controls {
    position: relative;
    bottom: 56%;
    z-index: 2;
    width:320px;
    max-width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between; 
    color:#fff;

  }
  
   .gallery__button{
      padding:1rem 2rem;
      /* background: #000; */
      font-size: 1.5rem;
      cursor: pointer;
      /* background-color: hotpink; */
      height:100%;
  }
  .gallery__button:hover{
      /* transform: scale(2); */
      transition: transform 0.8s ease-in-out, color 2s ease-in-out;
      /* background-color: grey; */
      color: #000;
  }
  
  .info-btn{
      color:#fff;
      padding:1rem;
      writing-mode: vertical-rl;
      text-orientation: mixed ;
      cursor: pointer;
      /* background-color: crimson; */
      margin-left:5rem;
      /* margin-top: 2rem; */
      text-transform: uppercase;
      font-weight: bold;
  }

  .info-btn:hover{
      transform: scale(1.3) ;
      transform-origin: top left;
      transition: transform 1s linear, color 2s ease-in-out;
      /* text-decoration: underline; */
      color:#000;
      
      
      
  }
  
  
  @media(min-width:700px){
    .gallery__controls {
        width: 640px; 
      }
      .info-btn{
        padding:3rem 1rem;
        margin-left:2rem;
      }
  }

 
 
/* about section */
.about__container{
    width:100%;
    height:100vh;
    /* background-color: darkgoldenrod; */
    display:none;
    background-color: var(--main-bg-col);

}

.about__about-me-cont{
    display: flex;
    width:80%;
    height:100%;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
}
.about__about-me-cont p, .about__about-me-cont a{
align-self: center;
}
.about__about-me-cont h1{
text-transform: uppercase;
}
@media(min-width:600px){
    .about__about-me-cont{
        max-width:60%;
        
    }
}

/* contact section */
.contact__container{
    width:100%;
    height:100vh;
    background-color: var(--main-bg-col);
    display:none;
}
span{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(63, 68, 68);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}
.extended-weaving{
    display: none;
}
.extended-plotter{
    display: none;
}
.weave-back-btn, .plotter-back-btn{
    cursor: pointer;
}
.extended-page__empty-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.up-btn{
    font-size: 0.9rem;
}

.extended-page__container{
    width:100%;
    /* height:180vh; */
    background-color: var(--main-bg-col);
}
/* top */
.extended-page__title-section{
    height: 20vh;
    width: 100%;
}
.extended-page__title-section-name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    height: 100%;
    color: rgb(75, 75, 75);
}


/* body */
.extended-page__body-section{
    width: 100%;
    /* background-color: cornflowerblue; */
}
.extended-page__body-section-text{
    max-width:60%;
    margin: 0 auto;
    /* background-color: brown; */
}
.extended-page__body-section-text h1{
text-align: center;
}
.extended-page__body-video{
    /* background-color: cornsilk; */
    text-align: center;
}
@media(max-width:600px){
    .extended-page__body-video{
        /* text-align: center; */
    }
    .extended-page__body-section-text{
        max-width:75%;
        margin: 0 auto;
        /* background-color: brown; */
    }
    iframe{
        width:100%;
        height:250px;
    }
    .extended-page__body-section-text p{
        font-size: 0.8rem;
    }
}

.extended-page__body-section-text iframe{
    margin: 4rem 0rem 2rem;
    border: none;
}

.extended-page__body-section-text p{
    font-size: .95rem;
}

.extended-page__body-section-text h2{
    font-size: 1.2rem;
}

/* end */
.extended-page__empty-section{
    width:100%;
    height: 20vh;
    display: flex;
    
}


.page__controls{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* height: 4rem; */
    margin: 0 auto;
    /* bottom: 150vh; */
    /* background-color: chocolate; */
    z-index: 10;

}

.page-btn{
    padding: 2rem;
    font-size: 1.4rem;
}
.page-btn:hover{
    color: #000; 
   transform: scale(1.8);
   transition: transform 0.8s ease-in-out, color 0.6s ease-in-out;

}