:root{
    --main-bg-col: rgb(27, 27, 27);
    --main-txt-col:rgb(180, 176, 176);
    --sec-txt-col:#fff;
}
* {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

html {
    scroll-behavior: smooth;
}
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    color:var( --sec-txt-col);
}

a {
    text-decoration: none;
    color: var( --main-txt-col);
}

li {
    list-style: none;

}

.page-container {
    max-width: 1300px;
    /* background-color: rgb(27, 27, 27); */
    background-color: rgb(252, 249, 249);
    margin: 0 auto;
}



/* fixed side nav bar */
.side-nav-container {
    background-color: rgba(43, 42, 42, 0.11);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    font-size: 1.5rem;
    padding: 2rem;
    position:  fixed;
    top:0;
    -webkit-animation: slideDown 2s linear;
            animation: slideDown 2s linear;

}

.side-nav__social-container {
    -webkit-box-flex: 9;
    -webkit-flex: 1; 
        -ms-flex: 9;
            flex: 9;
    font-size: 1.2rem;
    text-align: center;
}

.side-nav__social-list-link:hover,.side-nav__about-link:hover{
    -webkit-transition: color 1s linear;
    transition:color 1s linear;
    color:#000;
}


.side-nav__hamburger-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1; 
        -ms-flex: 1;
            flex: 1;
}

/* rolling sidebar /////////////////////////// */

.sidebar__container {
    background-color: rgb(104, 100, 100);
    width: 19rem;
    height: 100vh;
    z-index: 9990;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    display: none;
    position: fixed;
    padding: 2rem;
  }
  
  .sidebar__link {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }
  .sidebar__link:hover{
      color:white;
      
  }
  
  /* fade in/out side bar //////////////////// */
 
@-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes fadeIn {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes fadeOut {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes fadeOut {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  #ham:hover{
      color:#000;
  }



/* whole intro container */
.page-container__intro {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-col);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* intro omolara aneke text */
.page-container__intro .intro__title {
    /* height: 70vh; */
    min-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3rem;
    color: white;
    -webkit-animation: widthAni 2s ease-out;
            animation: widthAni 3s ease-out;
            flex:9
}

@-webkit-keyframes widthAni{
    0%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    50%{
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
    100%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%)
    }
}
@keyframes widthAni{
    0%{
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    50%{
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
    100%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%)
    }
}


.general-arrow{
    font-size: 4rem;
    color:#fff;
    padding: 1rem 2rem;
    font-weight: lighter;
    cursor: pointer;
}

/* down arrow */
.intro__link{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 2s linear;
    /* height:20vh;  */
    flex:1;
}

.intro__link a{
  padding:1rem;
}

.intro__link a:hover{
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    color:#000;
}

@-webkit-keyframes slideDown{
    0%{
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

@keyframes slideDown{
    0%{
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

@-webkit-keyframes slideDownShort{
    0%{
        -webkit-transform: translateY(-20%);
                transform: translateY(-20%);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

@keyframes slideDownShort{
    0%{
        -webkit-transform: translateY(-20%);
                transform: translateY(-20%);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}


.side-nav__about-link {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
    font-size: .7rem;
    font-weight: bold;
}

/* infinite gallery slider  ///////*/
.gallery__container{
width: 100%;
height: 100vh;
background-color: var(--main-bg-col);
display: none;

}
/*top  */
.gallery__name-section{
    height:20vh;
}

/* omolara title */
.gallery__name-section-item{
    width:100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    }


/* middle */
.gallery__image-section{
    height:60vh;
    overflow: hidden;
}

.sld-animation{
    -webkit-animation: rollWidthImg 3s linear;
            animation: rollWidthImg 3s linear;

}

@-webkit-keyframes rollWidthImg{
    0%{
        height:0vh;
    }
    100% {
        height: 60vh;
    }
}
@keyframes rollWidthImg{
    0%{
        height:0vh;
    }
    100% {
        height: 60vh;
    }
}

.bg-1{
    z-index: -10;
        background-image: url('images/plotter/plotter-close1.JPG');
        /* margin-bottom:4rem; */
}
.bg-2{
    z-index: -10;
    background-image: url('images/loom/wm1.jpg');
}
.bg-3{
    z-index: -10; 
       background-image: url('images/plotter/plotter-fullshot.JPG');
}
.bg-4{
    z-index: -10;  
      background-image: url('images/loom/wmcloseup.jpg');
}


.gallery__overlay-text{
    /* visibility: hidden; */
    width: 80%;
    margin: 0 auto;
    visibility: hidden;
    padding-top: 40px;
}

.gallery__overlay-h1{
    font-size: 1.5rem;
}
.gallery__overlay-p{
    font-size: 0.8rem;
    

}

span{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(63, 68, 68);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

/* bottom */
.gallery__empty-section{
    height:20vh;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.empty__up-btn{
    font-size: 2.3rem;
    color: var(--main-txt-col);
}

@-webkit-keyframes slideDownshorter{
    0%{
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}
@keyframes slideDownshorter{
    0%{
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    100% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}

.empty__up-btn:hover{
    color: #000; 
    -webkit-transition: color 0.6s ease-in-out ;
   transition: color 0.6s ease-in-out ;

}
@-webkit-keyframes fadeColor{
    0%{
        color: rgb(255, 255, 255);  
    }
    50%{
        color:  rgba(0, 0, 0);
    }
    100%{
        color:rgb(66, 65, 65);  
    }
}
@keyframes fadeColor{
    0%{
        color: rgb(255, 255, 255);  
    }
    50%{
        color:  rgba(0, 0, 0);
    }
    100%{
        color:rgb(66, 65, 65);  
    }
}

.gallery__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0rem auto;
    margin-bottom: 10rem;
  }
  
  @media(min-width:700px){
    .gallery__item {
        position: relative;
        height: 480px;
        width: 640px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
      }

      /* top */
      .gallery__name-section{
        height:10%;
    }
    /* middle */
    .gallery__image-section{
        height:80%;
    }
    /* bottom */
    .gallery__empty-section{
        height:10%;
    }
  }

  
  

.gallery__item:hover{
    /* background-color: rgb(20, 20, 19); */
    /* background-blend-mode: multiply;  */
    /* -webkit-transition:  all 10s linear;
   transition:  all 10s linear; */
}


  /* next and prev button */
  .gallery__controls {
    position: relative;
    bottom: 56%;
    z-index: 2;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    color:#fff;
  }
  
   .gallery__button{
      padding:1rem 2rem;
      font-size: 1.5rem;
      cursor: pointer;
      height:100%;
  }

  .gallery__button:hover{
    -webkit-transition: transform 0.8s ease-in-out, background-color 2s ease-in-out;
      transition: transform 0.8s ease-in-out, background-color 2s ease-in-out;
      background-color: rgba(5, 5, 5, 0.705);
      
  }
  
  .info-btn{
    color:#fff;
    padding:1rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-text-orientation: mixed ;
            text-orientation: mixed ;
    cursor: pointer;
    margin-left:5rem;
    text-transform: uppercase;
    font-weight: bold;
    width:10%;
}

  .info-btn:hover{
      /* transform: scale(1.3) ; */
      transform-origin: top left;
      -webkit-transition: transform 1s linear, background-color 2s ease-in-out;
      transition: transform 1s linear, background-color 2s ease-in-out;
      background-color: rgba(5, 5, 5, 0.705);
  }
  
  
  @media(min-width:700px){
    .gallery__controls {
        width: 640px; 
      }
      .info-btn{
        padding:3rem 1rem;
        margin-left:2rem;
      }
  }

 
 
/* about section */
.about__container{
    width:100%;
    height:100vh;
    /* background-color: darkgoldenrod; */
    display:none;
    background-color: var(--main-bg-col);

}

.about__about-me-cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width:80%;
    height:100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin:0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about__about-me-cont p, .about__about-me-cont a{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
.about__about-me-cont h1{
text-transform: uppercase;
}
@media(min-width:600px){
    .about__about-me-cont{
        max-width:60%;
        
    }
}

/* contact section */
.contact__container{
    width:100%;
    height:100vh;
    background-color: var(--main-bg-col);
    display:none;
}
.contact__container h1{
    text-align: center;
    margin-bottom: 2.5rem;
}

address{
    width:100%; 
    text-align: center;
    height: 100px;
    border-radius: 50px;
}

address a{
    height:100%;
    border: 1px solid slategray; 
    color:slategray;
    border-radius: 50px;
    font-size: 1.5rem;
    margin: 0 auto;
    padding:1rem 5rem;
}

address a:hover{
    background-color:slategray;
    color: #000;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
    
}

/* extended pages */

.extended-page__container{
    width:100%;
    background-color: var(--main-bg-col);
}

/* top */
.extended-page__title-section{
    height: 20vh;
    width: 100%;
}
.extended-page__title-section-name{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    color: rgb(75, 75, 75);
}

/* body */
.extended-page__body-section{
    width: 100%;
}
.extended-page__body-section-text{
    max-width:70%;
    margin: 0rem auto;
    text-align: justify;
    background-color: rgb(3, 3, 3);
    padding:2rem;
}
.extended-page__body-section-text h1{
    text-align:center;
    z-index: 3;
}


/* .extended-page__body-section{
    animation: slideDown 3s linear;

} */


.extended-page__body-img{
    /* background-image: url("images/plotter/DSC_0291.JPG"); */
    background-position: center;
    background-size: cover;
}

.extended-page__body-section-text iframe{
    margin: 1rem 0rem;
    border: none;
    width:100%;
}

.extended-page__body-section-text p{
    font-size: .85rem;
}

.extended-page__body-section-text h1{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* above 1100px */

@media(min-width:1100px){ 
    .section1{
        /* height:90vh; */
        height:618.5px;
        margin-bottom: 2rem;
        /* background-color: rgb(197, 192, 185); */
    }
    .section2{
        /* height:90vh; */
        height:618.5px;
        margin-bottom: 2rem;
        background-color: rgb(212, 211, 204);
    }
    .section3{
        width:100%;
        margin-bottom: 2rem;
        /* background-color: rgb(54, 31, 3); */
    }

  /* check this */
   /* .section1{
       display:grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 70px 1fr;
       align-items: center;
   } */
   
   .section1{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 70px 1fr;
        grid-template-rows: 70px 1fr;
    -ms-grid-row-align: center;
    -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
}

   .section1 h1{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top:11rem ;
    -ms-grid-column-align: start;
        justify-self: start;
    width:70%;  
    background-color: rgba(27, 27, 27, 0.747);
}

   .section1 .extended-page__body-img{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;       
    -ms-grid-row: 1;       
    -ms-grid-row-span: 2;       
    grid-row: 1/3;
    width: 90%;
    position: relative;
    top: 10px;
    height:75%;
    /* background-color: darkred; */
}

   .section1 .p1{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width:80%;
    -ms-grid-column-align: center;
        justify-self: center;
}
.section1 .p1{
        grid-column: 1/2;
        grid-row: 2/3;
        width:80%;
        justify-self: center;
        /* background-color: darksalmon; */
   }


   .section2 .extended-page__body-video{
    width: 70%;
    margin:0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    z-index: 1;
    }
   
.section2 .video-accent-border{
    border: 2px solid rgba(58, 56, 55, 0.315);
    width:70%;
    height:100px;   
    z-index: 0;
    position: relative;
    bottom: 550px;
    margin-left:5rem;
    
   }
   .section2 .video-accent-fill{
    background-color: 	rgb(75, 66, 67);  
    position: relative;
    bottom: 225px;
    width: 59%;
    height:49%;
    left:235px;
   }
 
}

@media(min-width:830px){
    .section1 h1{
        top:70%; 
        font-size: 1.6rem; 
    }
}
@media(min-width:1000px){
    .section1 h1{
        top:100%;  
    }
}
.section4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width:80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height:58px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* background-color: deeppink; */
    /* margin-top: ; */
     margin: 0 auto; 
}

.section-text-container__button{
    padding: 0.5rem 1.6rem;
    border:1px solid grey;
    border-radius: 30px;
    margin: 0 auto;
    font-size: 0.7rem;
}
.section-text-container__button:hover{
    background-color: grey;
    color:#000;

}
/* end */
.extended-page__empty-section{
    width:100%;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

/* portfoliol section display none */
.extended-weaving{
    display: none;
        /* animation: slideDown 3s linear; */

}
.extended-plotter{
    display: none;
    /* animation: slideDown 3s linear; */

}
.weave-back-btn, .plotter-back-btn{
    cursor: pointer;
}


.up-btn{
    font-size: 0.9rem;
}


.page__controls{
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin: 0 auto;
    z-index: 10;

}

.page-btn{
    padding: 2rem;
    font-size: 1.4rem;
}
.page-btn:hover{
    color: #000; 
   transform: scale(1.8);
   -webkit-transition: transform 0.8s ease-in-out, color 0.6s ease-in-out;
   transition: transform 0.8s ease-in-out, color 0.6s ease-in-out;

}


/* https://autoprefixer.github.io/ */