
.side-nav__about-link{
    font-size: .7rem;
}

.extended-page__container{
    width:100%;
    /* height:180vh; */
    background-color: var(--main-bg-col);
}
/* top */
.extended-page__title-section{
    height: 20vh;
    width: 100%;
}
.extended-page__title-section-name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    height: 100%;
    color: rgb(75, 75, 75);
}


/* body */
.extended-page__body-section{
    width: 100%;
    /* background-color: cornflowerblue; */
}
.extended-page__body-section-text{
    max-width:60%;
    margin: 0 auto;
    /* background-color: brown; */
}
.extended-page__body-section-text h1{
text-align: center;
}
.extended-page__body-video{
    /* background-color: cornsilk; */
    text-align: center;
}
@media(max-width:600px){
    .extended-page__body-video{
        /* text-align: center; */
    }
    .extended-page__body-section-text{
        max-width:75%;
        margin: 0 auto;
        /* background-color: brown; */
    }
    iframe{
        width:100%;
        height:250px;
    }
    .extended-page__body-section-text p{
        font-size: 0.8rem;
    }
}

.extended-page__body-section-text iframe{
    margin: 4rem 0rem 2rem;
    border: none;
}

.extended-page__body-section-text p{
    font-size: .95rem;
}

.extended-page__body-section-text h2{
    font-size: 1.2rem;
}

/* end */
.extended-page__empty-section{
    width:100%;
    height: 20vh;
    display: flex;
    
}


.page__controls{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* height: 4rem; */
    margin: 0 auto;
    /* bottom: 150vh; */
    /* background-color: chocolate; */
    z-index: 10;

}

.page-btn{
    padding: 2rem;
    font-size: 1.4rem;
}
.page-btn:hover{
    color: #000; 
   transform: scale(1.8);
   transition: transform 0.8s ease-in-out, color 0.6s ease-in-out;

}

